<h1 class="text-center">Welcome back!!!!</h1>
<img src="../assets/Aadhar1.jpg" class="img-fluid"  class="rounded float-left" alt="Responsive image"  style="width:50%" >&nbsp;


<br><br>
<button type="submit" routerLink="/update-employee/:id" class="btn btn-success">Update Aadhar</button>
<br><br>
<button type="submit" routerLink="/employee-details/6" class="btn btn-success">View Aadhar Details</button>
<br><br>
<button type="submit" class="btn btn-success">Cancel Aadhar Request</button>
<br><br>

<button type="submit" routerLink="/create-employee" class="btn btn-success">New Aadhar Request</button>